
.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}


.container2 {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}


.container3 {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.filter-container {
  margin-bottom: 20px;
}

.filter-container label {
  margin-right: 10px;
}


.delete-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.edit-button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


textarea,
input {
  width: 100%;
  padding: 5px;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-right: 10px;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
}

a:hover {
  background-color: #ddd;
}